# Dependencies
node_modules/
*/node_modules/

# # Build outputs
# dist/
# build/
# */dist/
# */build/

# Environment files
.env
.env.local
.env.*.local
!.env.example

# Logs
logs/
*.log
npm-debug.log*

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Angular
.angular/

# Coverage
coverage/
.nyc_output/

# Temporary files
tmp/
temp/

